<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP_SGE.Conexao" connectionString="Data Source=Lucio-TI;Initial Catalog=BD_ERP_SGE;User ID=talimpo; Password=systalimpo; MultipleActiveResultSets=True;;"
            providerName="System.Data.SqlClient" />
        <add name="ERP_SGE.Properties.Settings.BD_ERP_SGE" connectionString="Data Source=Lucio-TI;Initial Catalog=BD_ERP_SGE;User ID=talimpo; Password=systalimpo; MultipleActiveResultSets=True;;"
            providerName="System.Data.SqlClient" />
        <add name="ERP_SGE.Properties.Settings.BD_ERP_SGEConnectionString"
            connectionString="Data Source=LUCIO-TI;Initial Catalog=BD_ERP_SGE;User ID=talimpo; Password=systalimpo; MultipleActiveResultSets=True;;"
            providerName="System.Data.SqlClient" />
        <add name="ERP_SGE.Properties.Settings.BD_ERP_SGEConnectionString1"
            connectionString="Data Source=SERVIDOR;Initial Catalog=BD_ERP_SGE;Persist Security Info=True;User ID=talimpo; Password=systalimpo; MultipleActiveResultSets=True;;"
            providerName="System.Data.SqlClient" />
        <add name="ERP_SGE.Properties.Settings.BD_ERP_SGEConnectionString2"
            connectionString="Data Source=LUCIO-NOTEBOOK;Initial Catalog=BD_ERP_SGE;User ID=talimpo; Password=systalimpo; MultipleActiveResultSets=True;"
            providerName="System.Data.SqlClient" />
        <add name="ERP_SGE.Properties.Settings.BD_ERP_SGEConnectionString3"
            connectionString="Data Source=Trabalho;Initial Catalog=BD_ERP_SGE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ERP_SGE.Properties.Settings.BD_ERP_SGEConnectionString4"
            connectionString="Data Source=Trabalho;Initial Catalog=BD_ERP_SGE;Persist Security Info=True;User ID=talimpo;Password=systalimpo"
            providerName="System.Data.SqlClient" />
        <add name="ERP_SGE.Properties.Settings.BD_ERP_SGEConnectionString5"
            connectionString="Data Source=LUCIO-TI\SQL2016;Initial Catalog=BD_ERP_SGE;Persist Security Info=True;User ID=talimpo;Password=systalimpo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>   
</configuration>
